# Data Science Tools and Ecosystem

## Author
Yves

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**  
- List popular languages for Data Science
- List commonly libraries for Data Science
- Use Markdown Cells
- Use code Cell basic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Java
5. Ruby

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. ggplot
3. SciPy
4. TensorFlow
5. SciJit-learn
6. Pandas

| Data Science Tools|
|-------------------|
| Jupyter           |
| RStudio           |
| MySql             |
| IBM Watson Studio |
| Apache AirFlow    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5

[1] 17

In [3]:
# his will convert 200 minutes to hours by diving by 60
200/60

[1] 3.333333