In [1]:
a <-5

In [3]:
a + 2

[1] 7

In [4]:
df = data.frame(Emp_Name = c("Jai", "David", "Michael"),
                Job_role = c("Manager", "Team Lead", "Developer" )
                )
print(df)

  Emp_Name  Job_role
1      Jai   Manager
2    David Team Lead
3  Michael Developer